yarn run v1.7.0
$ /Users/fangelina/Documents/bug-issue-ui/node_modules/.bin/neutrino build --inspect-new
{
  target: 'web',
  context: '/Users/fangelina/Documents/bug-issue-ui',
  devtool: 'source-map',
  node: {
    Buffer: false,
    fs: 'empty',
    tls: 'empty'
  },
  output: {
    path: '/Users/fangelina/Documents/bug-issue-ui/build',
    publicPath: '/',
    filename: '[name].[chunkhash].v1.js',
    chunkFilename: '[name].[chunkhash].v1.js'
  },
  resolve: {
    alias: {
      'react-native': 'react-native-web'
    },
    extensions: [
      '.js',
      '.jsx',
      '.vue',
      '.ts',
      '.tsx',
      '.mjs',
      '.json'
    ],
    modules: [
      '/Users/fangelina/Documents/bug-issue-ui/node_modules/@neutrinojs/eslint/node_modules',
      'node_modules',
      '/Users/fangelina/Documents/bug-issue-ui/node_modules',
      '/Users/fangelina/Documents/bug-issue-ui/node_modules/@neutrinojs/web/node_modules',
      '/Users/fangelina/Documents/bug-issue-ui/node_modules/@neutrinojs/react/node_modules',
      '/Users/fangelina/Documents/bug-issue-ui/node_modules/neutrino-preset-mozilla-frontend-infra/node_modules'
    ]
  },
  resolveLoader: {
    modules: [
      '/Users/fangelina/Documents/bug-issue-ui/node_modules/@neutrinojs/eslint/node_modules',
      '/Users/fangelina/Documents/bug-issue-ui/node_modules',
      '/Users/fangelina/Documents/bug-issue-ui/node_modules/@neutrinojs/web/node_modules',
      '/Users/fangelina/Documents/bug-issue-ui/node_modules/@neutrinojs/react/node_modules',
      '/Users/fangelina/Documents/bug-issue-ui/node_modules/neutrino-preset-mozilla-frontend-infra/node_modules'
    ]
  },
  module: {
    rules: [
      /* neutrino.config.module.rule('lint') */
      {
        test: /\.(js|jsx|vue|ts|tsx|mjs)$/,
        enforce: 'pre',
        include: [
          '/Users/fangelina/Documents/bug-issue-ui/src'
        ],
        use: [
          /* neutrino.config.module.rule('lint').use('eslint') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/eslint-loader/index.js',
            options: {
              failOnError: true,
              cwd: '/Users/fangelina/Documents/bug-issue-ui',
              useEslintrc: false,
              root: true,
              formatter: function () { /* omitted long function */ },
              extensions: [
                'js',
                'jsx',
                'vue',
                'ts',
                'tsx',
                'mjs'
              ],
              plugins: [
                'babel',
                'eslint-plugin-prettier',
                'react',
                'jest'
              ],
              baseConfig: {
                'extends': [
                  'airbnb',
                  'eslint-config-prettier',
                  'plugin:react/recommended'
                ]
              },
              envs: [
                'es6',
                'worker',
                'serviceworker',
                'browser',
                'commonjs',
                'jest/globals'
              ],
              parser: 'babel-eslint',
              parserOptions: {
                ecmaVersion: 2017,
                sourceType: 'module',
                ecmaFeatures: {
                  objectLiteralDuplicateProperties: false,
                  generators: true,
                  impliedStrict: true
                }
              },
              settings: {},
              globals: [
                'process'
              ],
              rules: {
                'new-cap': 'off',
                'object-curly-spacing': 'off',
                'babel/new-cap': 'off',
                'babel/object-curly-spacing': [
                  'error',
                  'always'
                ],
                'import/no-extraneous-dependencies': 'off',
                'max-len': [
                  'error',
                  80,
                  2,
                  {
                    ignoreUrls: true,
                    ignoreComments: false,
                    ignoreStrings: true,
                    ignoreTemplateLiterals: true
                  }
                ],
                'class-methods-use-this': 'off',
                'no-console': 'error',
                'no-extra-parens': 'off',
                'prefer-const': 'error',
                'prettier/prettier': [
                  'error',
                  {
                    singleQuote: true,
                    trailingComma: 'es5',
                    bracketSpacing: true,
                    jsxBracketSameLine: true
                  }
                ],
                'padding-line-between-statements': [
                  'error',
                  {
                    blankLine: 'always',
                    prev: [
                      'const',
                      'let',
                      'var'
                    ],
                    next: '*'
                  },
                  {
                    blankLine: 'never',
                    prev: [
                      'const',
                      'let',
                      'var'
                    ],
                    next: [
                      'const',
                      'let',
                      'var'
                    ]
                  },
                  {
                    blankLine: 'always',
                    prev: [
                      'cjs-import'
                    ],
                    next: '*'
                  },
                  {
                    blankLine: 'always',
                    prev: [
                      'import'
                    ],
                    next: '*'
                  },
                  {
                    blankLine: 'always',
                    prev: '*',
                    next: [
                      'cjs-export'
                    ]
                  },
                  {
                    blankLine: 'always',
                    prev: '*',
                    next: [
                      'export'
                    ]
                  },
                  {
                    blankLine: 'never',
                    prev: [
                      'import'
                    ],
                    next: [
                      'import'
                    ]
                  },
                  {
                    blankLine: 'never',
                    prev: [
                      'cjs-import'
                    ],
                    next: [
                      'cjs-import'
                    ]
                  },
                  {
                    blankLine: 'any',
                    prev: [
                      'export'
                    ],
                    next: [
                      'export'
                    ]
                  },
                  {
                    blankLine: 'any',
                    prev: [
                      'cjs-export'
                    ],
                    next: [
                      'cjs-export'
                    ]
                  },
                  {
                    blankLine: 'always',
                    prev: 'multiline-block-like',
                    next: '*'
                  },
                  {
                    blankLine: 'always',
                    prev: '*',
                    next: [
                      'if',
                      'do',
                      'for',
                      'switch',
                      'try',
                      'while'
                    ]
                  },
                  {
                    blankLine: 'always',
                    prev: '*',
                    next: 'return'
                  }
                ],
                'consistent-return': 'off',
                'no-unused-expressions': 'off',
                'no-shadow': 'off',
                'no-return-assign': 'off',
                'no-mixed-operators': 'off',
                'no-restricted-globals': [
                  'error',
                  'isFinite',
                  'isNaN',
                  'addEventListener',
                  'blur',
                  'close',
                  'closed',
                  'confirm',
                  'defaultStatus',
                  'event',
                  'external',
                  'defaultstatus',
                  'find',
                  'focus',
                  'frameElement',
                  'frames',
                  'history',
                  'innerHeight',
                  'innerWidth',
                  'length',
                  'location',
                  'locationbar',
                  'menubar',
                  'moveBy',
                  'moveTo',
                  'name',
                  'onblur',
                  'onerror',
                  'onfocus',
                  'onload',
                  'onresize',
                  'onunload',
                  'open',
                  'opener',
                  'opera',
                  'outerHeight',
                  'outerWidth',
                  'pageXOffset',
                  'pageYOffset',
                  'parent',
                  'print',
                  'removeEventListener',
                  'resizeBy',
                  'resizeTo',
                  'screen',
                  'screenLeft',
                  'screenTop',
                  'screenX',
                  'screenY',
                  'scroll',
                  'scrollbars',
                  'scrollBy',
                  'scrollTo',
                  'scrollX',
                  'scrollY',
                  'status',
                  'statusbar',
                  'stop',
                  'toolbar',
                  'top'
                ],
                'jsx-quotes': [
                  'error',
                  'prefer-double'
                ],
                'jsx-a11y/anchor-is-valid': [
                  'error',
                  {
                    components: [
                      'Link'
                    ],
                    specialLink: [
                      'to'
                    ]
                  }
                ],
                'jsx-a11y/click-events-have-key-events': 'off',
                'jsx-a11y/no-static-element-interactions': 'off',
                'react/jsx-curly-spacing': [
                  'error',
                  'never'
                ],
                'react/jsx-equals-spacing': [
                  'error',
                  'never'
                ],
                'react/jsx-first-prop-new-line': [
                  'error',
                  'multiline'
                ],
                'react/jsx-indent-props': [
                  'error',
                  2
                ],
                'react/jsx-key': 'error',
                'react/jsx-no-comment-textnodes': 'error',
                'react/jsx-no-target-blank': 'error',
                'react/jsx-pascal-case': 'error',
                'react/jsx-tag-spacing': [
                  'error',
                  {
                    beforeSelfClosing: 'always'
                  }
                ],
                'react/jsx-wrap-multilines': 'error',
                'react/default-props-match-prop-types': 'off',
                'react/jsx-closing-bracket-location': 'off',
                'react/jsx-handler-names': [
                  'error',
                  {
                    eventHandlerPrefix: 'handle',
                    eventHandlerPropPrefix: 'on'
                  }
                ],
                'react/jsx-indent': 'off',
                'react/prefer-stateless-function': 'off',
                'react/prop-types': 'off',
                'react/sort-comp': 'off',
                'react/forbid-prop-types': 'off',
                'react/no-unused-prop-types': 'off',
                'react/require-default-props': 'off',
                'react/react-in-jsx-scope': 'off',
                'jest/no-disabled-tests': 'warn',
                'jest/no-focused-tests': 'error',
                'jest/no-identical-title': 'error',
                'jest/valid-expect': 'error'
              },
              emitWarning: false
            }
          }
        ]
      },
      /* neutrino.config.module.rule('html') */
      {
        test: /\.(html)$/,
        use: [
          /* neutrino.config.module.rule('html').use('html') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/html-loader/index.js'
          }
        ]
      },
      /* neutrino.config.module.rule('compile') */
      {
        test: /\.(js|jsx|vue|ts|tsx|mjs)$/,
        include: [
          '/Users/fangelina/Documents/bug-issue-ui/src',
          '/Users/fangelina/Documents/bug-issue-ui/test'
        ],
        exclude: [
          '/Users/fangelina/Documents/bug-issue-ui/src/static'
        ],
        use: [
          /* neutrino.config.module.rule('compile').use('babel') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-loader/lib/index.js',
            options: {
              cacheDirectory: true,
              plugins: [
                '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-plugin-transform-decorators-legacy/lib/index.js',
                [
                  '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-plugin-transform-class-properties/lib/index.js',
                  {
                    spec: true
                  }
                ],
                [
                  '/Users/fangelina/Documents/bug-issue-ui/node_modules/fast-async/plugin.js',
                  {
                    spec: true
                  }
                ],
                '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-plugin-syntax-dynamic-import/lib/index.js',
                '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-plugin-transform-object-rest-spread/lib/index.js',
                [
                  '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-plugin-transform-react-jsx/lib/index.js',
                  {
                    pragma: 'createElement'
                  }
                ],
                [
                  '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-plugin-jsx-pragmatic/jsx-pragmatic.js',
                  {
                    module: 'react',
                    'export': 'createElement',
                    'import': 'createElement'
                  }
                ]
              ],
              presets: [
                [
                  '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-preset-env/lib/index.js',
                  {
                    debug: false,
                    modules: false,
                    useBuiltIns: true,
                    exclude: [
                      'transform-regenerator',
                      'transform-async-to-generator'
                    ],
                    targets: {
                      browsers: [
                        'last 2 Chrome versions',
                        'last 2 Firefox versions',
                        'last 2 Edge versions',
                        'last 2 Opera versions',
                        'last 2 Safari versions',
                        'last 2 iOS versions'
                      ]
                    }
                  }
                ],
                '/Users/fangelina/Documents/bug-issue-ui/node_modules/babel-preset-react/lib/index.js'
              ]
            }
          }
        ]
      },
      /* neutrino.config.module.rule('style') */
      {
        test: /\.(css)$/,
        exclude: [
          /\.(module.css)$/
        ],
        use: [
          /* neutrino.config.module.rule('style').use('hot') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/css-hot-loader/index.js'
          },
          /* neutrino.config.module.rule('style').use('/Users/fangelina/Documents/bug-issue-ui/node_modules/extract-text-webpack-plugin/dist/loader.js') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/extract-text-webpack-plugin/dist/loader.js',
            options: {
              omit: 1,
              remove: true
            }
          },
          /* neutrino.config.module.rule('style').use('/Users/fangelina/Documents/bug-issue-ui/node_modules/style-loader/index.js') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/style-loader/index.js'
          },
          /* neutrino.config.module.rule('style').use('/Users/fangelina/Documents/bug-issue-ui/node_modules/css-loader/index.js') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/css-loader/index.js',
            options: {
              importLoaders: 0
            }
          }
        ]
      },
      /* neutrino.config.module.rule('style-modules') */
      {
        test: /\.(module.css)$/,
        use: [
          /* neutrino.config.module.rule('style-modules').use('hot-modules') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/css-hot-loader/index.js'
          },
          /* neutrino.config.module.rule('style-modules').use('/Users/fangelina/Documents/bug-issue-ui/node_modules/extract-text-webpack-plugin/dist/loader.js') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/extract-text-webpack-plugin/dist/loader.js',
            options: {
              omit: 1,
              remove: true
            }
          },
          /* neutrino.config.module.rule('style-modules').use('/Users/fangelina/Documents/bug-issue-ui/node_modules/style-loader/index.js') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/style-loader/index.js'
          },
          /* neutrino.config.module.rule('style-modules').use('/Users/fangelina/Documents/bug-issue-ui/node_modules/css-loader/index.js') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/css-loader/index.js',
            options: {
              importLoaders: 0,
              modules: true
            }
          }
        ]
      },
      /* neutrino.config.module.rule('woff') */
      {
        test: /\.(woff|woff2)(\?v=\d+\.\d+\.\d+)?$/,
        use: [
          /* neutrino.config.module.rule('woff').use('url') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/url-loader/dist/cjs.js',
            options: {
              limit: 10000,
              name: '[name].[hash].[ext]',
              mimetype: 'application/font-woff'
            }
          }
        ]
      },
      /* neutrino.config.module.rule('ttf') */
      {
        test: /\.ttf(\?v=\d+\.\d+\.\d+)?$/,
        use: [
          /* neutrino.config.module.rule('ttf').use('url') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/url-loader/dist/cjs.js',
            options: {
              limit: 10000,
              name: '[name].[hash].[ext]',
              mimetype: 'application/octet-stream'
            }
          }
        ]
      },
      /* neutrino.config.module.rule('eot') */
      {
        test: /\.eot(\?v=\d+\.\d+\.\d+)?$/,
        use: [
          /* neutrino.config.module.rule('eot').use('file') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/file-loader/dist/cjs.js',
            options: {
              name: '[name].[hash].[ext]'
            }
          }
        ]
      },
      /* neutrino.config.module.rule('svg') */
      {
        test: /\.svg(\?v=\d+\.\d+\.\d+)?$/,
        use: [
          /* neutrino.config.module.rule('svg').use('url') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/url-loader/dist/cjs.js',
            options: {
              limit: 1,
              name: '[name].[hash].[ext]'
            }
          }
        ]
      },
      /* neutrino.config.module.rule('img') */
      {
        test: /\.(png|jpg|jpeg|gif|webp)(\?v=\d+\.\d+\.\d+)?$/,
        use: [
          /* neutrino.config.module.rule('img').use('url') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/url-loader/dist/cjs.js',
            options: {
              limit: 1,
              name: '[name].[hash].[ext]'
            }
          }
        ]
      },
      /* neutrino.config.module.rule('ico') */
      {
        test: /\.ico(\?v=\d+\.\d+\.\d+)?$/,
        use: [
          /* neutrino.config.module.rule('ico').use('url') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/url-loader/dist/cjs.js',
            options: {
              limit: 1,
              name: '[name].[hash].[ext]'
            }
          }
        ]
      },
      /* neutrino.config.module.rule('worker') */
      {
        test: /\.(worker.js|worker.jsx|worker.vue|worker.ts|worker.tsx|worker.mjs)$/,
        use: [
          /* neutrino.config.module.rule('worker').use('worker') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/worker-loader/dist/cjs.js'
          }
        ]
      },
      /* neutrino.config.module.rule('js-yaml') */
      {
        test: /\.(yaml|yml)$/,
        use: [
          /* neutrino.config.module.rule('js-yaml').use('js-yaml-loader') */
          {
            options: {
              safe: true
            },
            loader: 'js-yaml-loader'
          }
        ]
      },
      /* neutrino.config.module.rule('graphql') */
      {
        test: /\.graphql$/,
        include: [
          '/Users/fangelina/Documents/bug-issue-ui/src'
        ],
        use: [
          /* neutrino.config.module.rule('graphql').use('gql-loader') */
          {
            loader: '/Users/fangelina/Documents/bug-issue-ui/node_modules/graphql-tag/loader.js'
          }
        ]
      }
    ]
  },
  plugins: [
    /* neutrino.config.plugin('env') */
    new EnvironmentPlugin(
      'NODE_ENV',
      'GITHUB_PERSONAL_API_TOKEN',
      'BUGZILLA_ENDPOINT',
      'NODE_ENV'
    ),
    /* neutrino.config.plugin('html-index') */
    new HtmlWebpackPlugin(
      {
        template: '/Users/fangelina/Documents/bug-issue-ui/node_modules/html-webpack-template/index.ejs',
        inject: false,
        appMountId: 'root',
        xhtml: true,
        mobile: true,
        minify: {
          useShortDoctype: true,
          keepClosingSlash: true,
          collapseWhitespace: true,
          preserveLineBreaks: true
        },
        pluginId: 'html-index',
        filename: 'index.html',
        chunks: [
          'index',
          'vendor',
          'runtime'
        ],
        title: 'Codetribute',
        meta: [
          {
            name: 'Description',
            content: 'Find your first code contribution with Mozilla'
          }
        ],
        links: [
          {
            href: './static/favicon.png',
            rel: 'shortcut icon'
          }
        ]
      }
    ),
    /* neutrino.config.plugin('extract') */
    new ExtractTextPlugin(
      {
        filename: '[name].[contenthash].css',
        ignoreOrder: true,
        allChunks: true
      }
    ),
    /* neutrino.config.plugin('extract-modules') */
    new ExtractTextPlugin(
      {
        filename: '[name].[contenthash].css',
        ignoreOrder: true,
        allChunks: true
      }
    ),
    /* neutrino.config.plugin('named-modules') */
    new NamedModulesPlugin(),
    /* neutrino.config.plugin('named-chunks') */
    new NamedChunksPlugin(
      function () { /* omitted long function */ }
    ),
    /* neutrino.config.plugin('vendor-chunk') */
    new CommonsChunkPlugin(
      {
        name: 'vendor',
        minChunks: Infinity
      }
    ),
    /* neutrino.config.plugin('runtime-chunk') */
    new CommonsChunkPlugin(
      {
        name: 'runtime'
      }
    ),
    /* neutrino.config.plugin('name-all') */
    new NameAllModulesPlugin(),
    /* neutrino.config.plugin('babel-minify') */
    new BabelMinifyPlugin(
      undefined,
      undefined
    ),
    /* neutrino.config.plugin('optimize-css') */
    new OptimizeCssAssetsPlugin(
      {
        assetNameRegExp: /\.css$/g,
        cssProcessor: function () { /* omitted long function */ },
        cssProcessorOptions: {},
        canPrint: true
      }
    ),
    /* neutrino.config.plugin('module-concat') */
    new ModuleConcatenationPlugin(),
    /* neutrino.config.plugin('clean') */
    new CleanWebpackPlugin(
      [
        '/Users/fangelina/Documents/bug-issue-ui/build'
      ],
      {
        root: '/Users/fangelina/Documents/bug-issue-ui',
        verbose: false,
        allowExternal: false,
        dry: false
      }
    ),
    /* neutrino.config.plugin('copy') */
    new CopyWebpackPlugin(
      [
        {
          context: '/Users/fangelina/Documents/bug-issue-ui/src/static',
          from: '**/*',
          to: 'static'
        }
      ],
      {
        debug: 'warning'
      }
    )
  ],
  entry: {
    index: [
      '/Users/fangelina/Documents/bug-issue-ui/src/index'
    ]
  }
}
Done in 1.53s.
