/* Nav: Base */
.nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
}

.nav-link {
  align-items: center;
  color: #0f66a4;
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

/* Nav: Tiles */
.nav-tiles .nav-link {
  color: #424242;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background-color: #ebebeb;
  }

  &.active {
    background-color: #e2e2e2;
  }
}
